:root {
    --fuenteLogo: 'Maven Pro', sans-serif;
    --fuenteHeading: 'Open Sans', sans-serif;
    --fuenteParrafos: 'Nunito', sans-serif;

    --primario: #00489f;
    --secundario: #ffc000;
    --moradito: #553bf9;

    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.contenedor,
.contenedor-header {
    width: min(90% , 120rem);
    margin: 0 auto;
}
.contenedor-header {
    width: min(90% , 130rem);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Para Telefono: @media (min-width: 480px) {} */
/* Para Tablet: @media (min-width: 768px) {} */
/* Para Laptop o Computadora: @media (min-width: 1140px) {} */
/* Para Tamaño de la mayoria: @media (min-width: 1400px) {} */

body {
    background: hsl(23deg 84% 75% / 10%) 0%;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* gap: 2rem; */
}

@media (max-width: 468px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .principal__data {
        align-self: center;
    }

    .header {
        flex-direction: row;
    }
    .principal__data-titlelv2 {
        font-size: 2rem;
    }
}

.nav__item {
    margin-right: 1rem;
}

.nav__item a,
.nav__logo {
    color: var(--primario);
}

.nav__logo {
    /* font-family: var(--fuenteLogo); */
    /* font-family: var(--fuenteHeading); */
    font-family: var(--fuenteParrafos);
    font-weight: bold;
    font-size: 5rem;
}

.nav__item a {
    font-family: var(--fuenteHeading);
    font-weight: 400;
    font-size: 2rem;
    transition: .3s;
}

.nav__item a:hover{
    color: var(--secundario);
}

/* Contenido Principal */
.contenido__principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}

@media (max-width: 468px) {
    .contenido__principal {
        grid-template-columns: 2fr;
        margin-top: 2rem;

        margin-bottom: 10rem; /* Eliminar luego */
    }
}

.principal__data-titlelv1 {
    color: var(--moradito);
    font-size: 1.7rem;
    display: flex;
}

.principal__img {
    display: flex;
    /* box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 75%); */
    box-shadow: 0px 0px 30px 1px rgb(0 0 0 / 50%);
}

.principal__img img {
    width: 100%;
}

@media (max-width: 468px) {
    .principal__img {
        display: none;
    }
}

@media (min-width: 769px) {
    .principal__data-titlelv1 {
        font-size: 2rem;
    }
}

@media (max-width: 468px) {
    .principal__data-titlelv1 {
        font-size: 1.4rem;
    }
    .span__btn {
        font-size: 1.8rem;
    }
}

.principal__data-titlelv2 {
    margin-left: 5rem;
    font-family: var(--fuenteParrafos);
    letter-spacing: -.03em;
    color: var(--primario);
    font-size: 4rem;
}

@media (min-width: 769px) {
    .principal__data-titlelv2 {
        font-size: 6.5rem;
    }
}

@media (max-width: 468px) {
    .principal__data-titlelv2 {
        font-size: 2.9rem;
        margin: 0;
        text-align: center;
    }
}

.principal__data-titlelv2 span {
    display: inline-block;
}

.principal__data-descri {
    line-height: 2rem;
    text-align: justify;
    color: var(--primario);
    font-size: 2rem;
}

.principal__data-descri span {
    font-weight: bold;
}

.principal__data-descri:last-of-type {
    margin-bottom: 5rem;
}

.conten__botons {
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}

@media (min-width: 769px) {
    .conten__botons {
        justify-content: flex-start;
    }
}

.boton--secundario:last-of-type {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.boton {
    font-family: var(--fuenteHeading);
    color: var(--moradito);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid var(--moradito);
    transition: .3s;
}

.boton:hover {
    background-color: var(--moradito);
    color: var(--blanco);
}

@media (max-width: 468px) {
    .boton {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}

.span__btn {
    margin-right: 0.3rem;
}
