:root {
    --fuenteLogo: 'Maven Pro', sans-serif;
    --fuenteHeading: 'Open Sans', sans-serif;
    --fuenteParrafos: 'Nunito', sans-serif;

    --primario: #00489f;
    --primario-enlaces: #0070c0;
    --celestito: #19a6fd;
    --secundario: #ffc000;
    --moradito: #553bf9;
    --moraditoOscuro: #1b1548;
    --moraditoOpaco: #251e48;
    --naranjita: #ff8965;
    --rosadoSuave: #ded9d67a;

    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.contenedor,
.contenedor-header {
    width: min(90% , 120rem);
    margin: 0 auto;
}
.contenedor-header {
    width: min(90% , 130rem);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.bolt-weight {
    font-weight: 800;
}

/* Para Telefono: @media (min-width: 480px) {} */
/* Para Tablet: @media (min-width: 768px) {} */
/* Para Laptop o Computadora: @media (min-width: 1140px) {} */
/* Para Tamaño de la mayoria: @media (min-width: 1400px) {} */

body {
    background: hsl(23deg 84% 75% / 10%) 0%;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* gap: 2rem; */
}

@media (max-width: 468px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .principal__data {
        align-self: center;
    }

    .header {
        flex-direction: row;
    }
    .principal__data-titlelv2 {
        font-size: 2rem;
    }
}

.nav__item {
    margin-right: 1rem;
}

@media (min-width: 769px) {
    .nav__item {
        margin-right: 2rem;
    }
}

.nav__item a,
.nav__logo {
    color: var(--primario);
}

.nav__logo {
    /* font-family: var(--fuenteLogo); */
    /* font-family: var(--fuenteHeading); */
    font-family: var(--fuenteParrafos);
    font-weight: bold;
    font-size: 5rem;
}

.nav__item a {
    font-family: var(--fuenteHeading);
    font-weight: 400;
    font-size: 2rem;
    transition: .3s;
}

.nav__item a:hover{
    color: var(--secundario);
}

/* Contenido Principal */
.contenido__principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 7rem auto;
}

@media (max-width: 468px) {
    .contenido__principal {
        grid-template-columns: 2fr;
        margin-top: 2rem;

        /* margin-bottom: 10rem; */
    }
}

.principal__data-titlelv1 {
    color: var(--moradito);
    font-size: 1.7rem;
    display: flex;
}

.principal__img,
.sobre-clientes__imagen {
    display: flex;
    /* box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 75%); */
    box-shadow: 0px 0px 30px 1px rgb(0 0 0 / 50%);
}

.principal__img img {
    width: 100%;
}

@media (max-width: 468px) {
    .principal__img {
        display: none;
    }
}

@media (min-width: 769px) {
    .principal__data-titlelv1 {
        font-size: 2rem;
    }
}

@media (max-width: 468px) {
    .principal__data-titlelv1 {
        font-size: 1.4rem;
    }
    .span__btn {
        font-size: 1.8rem;
    }
}

.principal__data-titlelv2 {
    margin-left: 5rem;
    font-family: var(--fuenteParrafos);
    letter-spacing: -.03em;
    color: var(--primario);
    font-size: 4rem;
}

@media (min-width: 769px) {
    .principal__data-titlelv2 {
        font-size: 6.5rem;
    }
}

@media (max-width: 468px) {
    .principal__data-titlelv2 {
        font-size: 2.9rem;
        margin: 0;
        text-align: center;
    }
}

.principal__data-titlelv2 span {
    display: inline-block;
}

.principal__data-descri {
    line-height: 2rem;
    text-align: justify;
    color: var(--primario);
    font-size: 2rem;
}

.principal__data-descri span {
    font-weight: bold;
}

.principal__data-descri:last-of-type {
    margin-bottom: 5rem;
}

.conten__botons {
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}

@media (min-width: 769px) {
    .conten__botons {
        justify-content: flex-start;
    }
}

.boton--secundario:last-of-type {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.boton {
    font-family: var(--fuenteHeading);
    color: var(--moradito);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid var(--moradito);
    transition: .3s;
}

.boton:hover {
    background-color: var(--moradito);
    color: var(--blanco);
}

@media (max-width: 468px) {
    .boton {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }
}

.span__btn {
    margin-right: 0.3rem;
}

/* Contenido ESTADISTICAS */

.contenido__estadisticos{
    width: 100%;
    border-top: .2rem solid var(--gris);
    border-bottom: .2rem solid var(--gris);
}

.contenido__estadisticos-principal{
    display: flex;
    justify-content: space-between; 
    /* gap: 2rem; */
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 769px) {
    .contenido__estadisticos-principal{
        flex-direction: row;
    }
}

.items__estadisticos-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 769px) {
    .items__estadisticos-principal {
        flex-direction: row;
    }
}

.items__estadisticos-principal p {
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-left: 1rem;
}

@media (max-width: 468px) {
    .items__estadisticos-principal p {
        text-align: center;    
    }
}

.items__estadisticos-principal h3 {
    font-size: 3rem;
}

@media (min-width: 769px) {
    .items__estadisticos-principal h3 {
        font-size: 5rem;
    }
}

.items__estadisticos-principal p,
.items__estadisticos-principal h3 {
    color: var(--moraditoOscuro);
}

.items__estadisticos-principal:last-of-type h3 {
    width: auto;
}

@media (min-width: 769px) {
    .items__estadisticos-principal:last-of-type h3 {
        width: 80%;
    }
}

/* Contenido CLIENTES */
.sobre-clientes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    text-align: center;
    /* margin-top: 6rem;
    margin-bottom: 6rem; */
    margin: 10rem auto;
}

@media (min-width: 769px) {
    .sobre-clientes {
        grid-template-columns: repeat(2, 1fr);
        text-align: unset;
        margin: 15rem auto;
    }
}

.sobre-clientes__imagen {
    width: 80%;
    margin: auto;
}

.sobre-clientes__imagen img {
    width: 100%;
}

.clientes__texto-icono {
    display: none;
}

@media (min-width: 769px) {
    .clientes__texto-icono {
        display: inline-block;
        transform: rotate(226deg);
        font-size: 4rem;
        color: var(--moradito);
    }
}

.clientes__texto-subtitle {
    font-size: 1.6rem;
    font-family: var(--fuenteHeading);
    font-weight: normal;
    color: var(--naranjita);
    margin-top: 2rem;
}

@media (min-width: 769px) {
    .clientes__texto-subtitle {
        margin-top: 0;
    }
}

.clientes__texto-title {
    color: var(--moraditoOscuro);
    font-size: 3.5rem;
    font-family: var(--fuenteParrafos);
    margin: 2rem 0;
    letter-spacing: -.03em;
}

.title__segundobloque {
    display: inline-block;
}

.clientes__texto-title--sp,
.clientes__texto-title--ani {
    text-transform: uppercase;
}

.clientes__texto-title--sp {
    color: var(--naranjita);
}

.clientes__texto-title a {
    color: var(--primario-enlaces);
}

.clientes__texto-parrafos {
    font-family: var(--fuenteHeading);
    font-size: 1.8rem;
}

.clientes__texto-parrafos span{
    font-weight: 800;
}

.clientes__texto-parrafos:last-of-type {
    margin-bottom: 2rem;
}

.clientes__texto-comple {
    list-style: none;
    width: 80%;
    margin: auto;
}

@media (min-width: 769px) {
    .clientes__texto-comple {
        width: 100%;
    }
}

@media (max-width: 468px) {
    .clientes__texto-comple {
        width: 100%;
    }
}

.texto-comple__item {
    display: flex;
    align-items: center;
    font-family: var(--fuenteHeading);
}

@media (max-width: 468px) {
    .texto-comple__item {
        align-items: unset;
    }
}

.list-iconos__cli {
    margin-right: 1rem;
    color: var(--moradito);
}

@media (max-width: 468px) {
    .list-iconos__cli {
        font-size: 2.5rem;
    }
}

.orden__row {
    order: 0;
}

@media (min-width: 769px) {
    .orden__row {
        order: 2;
    }
}

.color__subtitle {
    color: var(--celestito);
}

.clientes__content-modal {
    width: 80%;
    margin: auto;
    padding: 2rem 4rem;
    background: #ded9d67a;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
}

.content-modal__parrafo1 {
    text-align: left;
}

.content-modal__parrafo2 {
    text-align: right;
}

.content-modal__parrafo3 {
    text-align: center;
    margin-top: 2rem;
}

.clientes__content-modal::before {
    content: '🔗';
}

.clientes__content-modal::before {
    content: url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Cquote1_black.svg);
    position: absolute;
    left: 3rem;
    top: -1.5rem;
    transform: scale(.6);
}

/* Contenido DETALLE SERVICIOS */
.contenido__detalle-servicios {
    background: var(--moraditoOscuro);
    padding: 15rem 10rem;


    margin-bottom: 10rem;
}

.detalle-servicios__title {
    text-align: center;
    color: var(--blanco);
    margin-bottom: 10rem;
}

.detalle-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.detalle-servicios-items {
    background: var(--moraditoOpaco);
    padding: 4rem;
    border-radius: 2rem;
    transition: .3s;
}

.detalle-servicios-items:hover {
    box-shadow: 0px 0px 30px 1px rgb(0 0 0 / 50%);
    transform: translate(0,-4px);
}

.servivios__imagen {
    width: 20%;
}

.servivios__title {
    color: var(--blanco);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.servicios__parrafos-detalle {
    color: var(--blanco);
    line-height: 1.2;
    height: 12rem;
    font-size: 2rem;
}

.servicios__item-enlaces {
    margin-top: 1rem;
    display: inline-block;
}

.item-enlaces__parrafo {
    display: flex;
    align-items: center;
}

.item-enlaces__icon {
    margin-left: 1rem;
}

.servicios__item-enlaces {
    color: var(--moradito);
    transition: .3s;
}

.servicios__item-enlaces:hover {
    color: var(--secundario);
}

.boton_detalle-servicios {
    justify-content: center;
    margin-top: 4rem;
}